* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* header style */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}



/* menu style */
#seo {
    color: #d9dcd6;
}
.menu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* header style */
.header .menu ul {
    list-style-type: none;
}

.header .menu ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* hero image style */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* content that goes
under the hero image 
 */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* services style */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.service img {
    max-height: 200px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* benefits style */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer style */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* general mobile view. Wide enough for tablets */
@media only screen and (max-width: 1000px) {
    
    .hero{
        height: 600px;
    }
    /* content stretch edge to edge in mobile */
    .content{
        margin: 0;
        width: 100%;

    }
    /* benefits edge to edge */
    .benefits{
        margin: 0;
        width: 100%;
    }
    /* let service content space adjust 
    when resized to contain photo and content
    */
    .service{
        height: auto;
    }
    .service img{
        width: 30%;
    }
    /* sets a smaller text to allow
    menu to line up next to the header
    */
    .header h1{
        font-size: 25px;
    }
    .header a {
        font-size: 9px;
    }
    
  }
  @media only screen and (max-width: 600px){
      .service h2{
          font-size: 90%;
      }
      .hero{
          height: 300px;
      }
      .menu {
          padding-top: 0;
          margin:0;
      }
      .header .menu ul li {
        display: inline-block;
        margin-left: 0px;
    }
      
  }